# IMPORTING THE DEPENDENCIES

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score 

# dataframes are structured tables.

In [2]:
# LOADING THE DATASET TO A PANDAS DATAFRAME
creditcard_data = pd.read_csv('creditcard.csv')

In [3]:
# FIRST 5 ROWS OF THE DATASET
creditcard_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
creditcard_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
creditcard_data.shape

(284807, 31)

In [6]:
# dataset information
creditcard_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
# checking the number of missing values in each column
creditcard_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
# distribution of legit transactions & fraudulent transactions
creditcard_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [9]:
# dataset is highly imbalanced.

# 0 --> normal transation
# 1 --> fraudulent transation

In [10]:
# separating the data for analysis

In [11]:
legit = creditcard_data[creditcard_data['Class'] == 0]
fraud = creditcard_data[creditcard_data['Class'] == 1]

In [12]:
legit.shape

(284315, 31)

In [13]:
fraud.shape

(492, 31)

In [14]:
# statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [15]:
# here, % is not normal %.
#  It is Percentile, i.e. 25% of the transactions are less than 5.65 dollar.

In [16]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [17]:
# compare the values for both transactions
creditcard_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [18]:
# Under Sampling

# build a sample dataset containing similar distribution of normal transactions and fraudulent transactions

# number of fraudulent transactions = 492

In [19]:
legit_sample = legit.sample(n=492)

In [20]:
# Concatenating two DataFrames

In [21]:
new_dataset = pd.concat([legit_sample,fraud], axis=0)
# axis = 0 because we want to merge data row-wise

In [48]:
import pandas as pd

In [49]:
new_dataset.to_csv('legit_fraud.csv')

In [22]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
47647,43293.0,-1.215533,-1.653072,2.507550,-2.404011,-0.806000,-0.066263,-1.294994,0.377935,-2.029075,...,0.243375,0.587593,-0.023322,-0.381343,0.327217,-0.090782,0.033789,0.083714,98.00,0
93538,64475.0,-0.587359,1.017303,0.387146,-0.377256,0.530187,0.397213,0.205509,0.649494,-0.752609,...,0.157960,0.306386,-0.214719,-1.139977,-0.327479,0.374508,-0.014410,0.061188,1.50,0
233307,147521.0,-0.874554,1.747102,-1.856526,-0.548129,-0.004825,-0.910844,-0.277259,1.138739,-0.775764,...,0.495608,0.931481,0.100413,0.713177,-0.697836,0.434915,-0.582876,-0.081189,1.50,0
235451,148395.0,-1.228714,0.735063,-0.297016,-2.268942,3.195523,3.596032,0.947841,0.601518,-0.149846,...,-0.325856,-0.847555,-0.295973,0.706455,0.729800,0.290437,-0.366184,-0.098856,32.92,0
136748,81850.0,-1.262329,-0.652189,1.109808,-2.027006,-2.024365,-0.196867,-1.392835,0.889584,-1.775794,...,-0.120152,-0.135498,0.114625,-0.126354,0.138977,-0.319523,-0.253194,-0.309252,60.00,0

In [23]:
new_dataset.shape

(984, 31)

In [24]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [25]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [26]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96432.552846,-0.040525,-0.055369,-0.100532,0.006627,-0.108601,0.044645,-0.013537,-0.056220,-0.011009,...,-0.020082,-0.085244,0.005006,0.013880,-0.008707,-0.015575,0.030754,-0.004673,0.034605,100.942683
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [27]:
# Splitting the data into features & targets

In [28]:
X = new_dataset.drop(columns='Class',axis=1)
Y = new_dataset['Class']

In [29]:
print(X.head(1))

          Time        V1        V2       V3        V4     V5        V6  \
47647  43293.0 -1.215533 -1.653072  2.50755 -2.404011 -0.806 -0.066263

             V7        V8        V9  ...       V20       V21       V22  \
47647 -1.294994  0.377935 -2.029075  ...  0.122765  0.243375  0.587593

            V23       V24       V25       V26       V27       V28  Amount
47647 -0.023322 -0.381343  0.327217 -0.090782  0.033789  0.083714    98.0

[1 rows x 30 columns]

In [30]:
Y

47647     0
93538     0
233307    0
235451    0
136748    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [31]:
# Split the data into Training data and Testing data

In [32]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [33]:
X.shape, X_train.shape, X_test.shape

((984, 30), (787, 30), (197, 30))

In [34]:
print(X_train)
print(Y_train)

            Time         V1        V2         V3        V4         V5  \
100623   67571.0  -0.758469 -0.045410  -0.168438 -1.313275  -1.901763
98107    66522.0   1.018412  1.036663  -1.689814  1.315476   1.698436
271962  164842.0  -2.056673  2.204844  -1.979134  0.149720   3.428212
15011    26340.0   1.238434  1.115195  -1.858995  1.497218   1.112465
36406    38524.0   1.220495 -0.749312   0.328288 -0.488831  -1.204231
...          ...        ...       ...        ...       ...        ...
3955      3581.0  -0.548311  0.526842   1.356134  0.931569   0.101507
139696   83297.0   1.106156 -0.219929   1.347986  0.803471  -1.128318
223618  143456.0  -2.006582  3.676577  -5.463811  7.232058  -1.627859
43061    41353.0 -15.020981  8.075240 -16.298091  5.664820 -11.918153
195111  130900.0   2.203985 -0.659058  -1.402828 -1.067754  -0.316142

              V6         V7         V8        V9  ...       V20       V21  \
100623  0.739433   3.071892  -0.483422  0.618203  ... -0.032500  0.042619
98107   0.528807   0.331715   0.364539 -0.711798  ... -0.167555 -0.040238
271962  1.015140  -6.803024 -10.062100 -1.283291  ...  2.338888 -4.832522
15011  -1.117001   0.571174  -0.118440 -0.155632  ... -0.162495 -0.235405
36406  -0.962779  -0.364903  -0.276520 -0.850057  ... -0.261893 -0.190993
...          ...        ...        ...       ...  ...       ...       ...
3955   -0.723567   0.207197   0.151674 -0.390480  ...  0.175895  0.359563
139696 -0.094841  -0.696334   0.191604  0.625514  ... -0.064656 -0.018567
223618 -0.996755  -4.299833   2.268867 -3.651067  ...  0.474414  0.713907
43061  -4.246957 -14.716668   9.435084 -6.795398  ... -0.995787  2.525115
195111 -0.908698  -0.335277  -0.331624 -0.938765  ...  0.060449  0.476989

             V22       V23       V24       V25       V26       V27       V28  \
100623  0.397224  0.072229 -0.242276  0.560916 -0.540955  0.150606 -0.117140
98107   0.096172 -0.092549 -1.345664  0.510305 -0.182674  0.107058  0.071818
271962  1.693413 -3.893988 -1.667340 -0.021368  0.049621  0.240402  0.506780
15011  -0.623702 -0.219893 -0.798202  0.793037 -0.227813  0.044537  0.084797
36406  -0.213397 -0.098821  0.463988  0.290940  1.148810 -0.067510  0.023430
...          ...       ...       ...       ...       ...       ...       ...
3955    1.034257 -0.025495  0.535231 -0.499208 -0.271993  0.436481  0.255970
139696  0.092600  0.033165  0.577460  0.200184  0.285221  0.012994  0.021156
223618 -0.063868  0.167947 -0.449864  0.023702  0.536905  0.485864 -0.042393
43061  -0.832074 -0.186117  0.429781  0.697103  0.056031 -1.310888 -0.707403
195111  1.418460 -0.079528 -0.243790  0.253906  0.065101 -0.036150 -0.076414

        Amount
100623  549.06
98107     0.89
271962    1.00
15011     1.00
36406    97.28
...        ...
3955     18.57
139696   18.23
223618    1.00
43061    34.12
195111   15.00

[787 rows x 30 columns]
100623    1
98107     0
271962    0
15011     0
36406     0
         ..
3955      0
139696    0
223618    1
43061     1
195111    0
Name: Class, Length: 787, dtype: int64

In [35]:
# Model Training
# Logistic Regression

In [36]:
model = LogisticRegression()

In [37]:
# training the Logistic Regression model with training data

In [38]:
model.fit(X_train, Y_train)

E:\NEHAL\ANACONDA\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [39]:
# Model Evaluation

In [40]:
# Accuracy Score

In [41]:
# Accuracy on Training Data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [42]:
print('Accuracy on Training Data: ', training_data_accuracy)

Accuracy on Training Data:  0.9453621346886912

In [43]:
# Accuracy on test data

In [44]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [45]:
print('Accuracy on Test Data: ', test_data_accuracy)

Accuracy on Test Data:  0.934010152284264

In [46]:
# MAKING A PREDICTIVE SYSTEM

In [47]:
input_data = (109298,-1.00061051985933,3.34685000184439,-5.53449117133595,6.83580203854396,-0.299803293657807,0.0959512989990878,-2.44041927394713,1.28630119597073,-2.7664382829404,-4.45800770078481,4.69653339192897,-8.76211333956078,0.985826601093264,-7.32027202211023,-1.06384045772504,-3.37112471078725,-4.25115786762875,-0.43005729986925,1.80401333906519,1.18981379228675,0.439756764345897,-0.694099203587273,0.299660329499667,-0.657600627722995,0.101647558980344,0.430457439169415,0.824685450418745,0.326952273050223,186.13)


# changing the input_data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the np array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]==0):
    print('THE TRANSACTION IS LEGIT.')
else:
    print('THE TRANSACTION IS FRAUDULANT.')

[1]
THE TRANSACTION IS FRAUDULANT.

E:\NEHAL\ANACONDA\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(